header {
    padding: 10px;
    text-align: center;
}

html, body {

    margin: 0;

    padding: 0;

    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

main {
    padding: 10px;
    flex: 1;
}

section{
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    
}

h1 {
    
    color:black;
    font-size: 40px;
    margin: 20px;
}
h2{

    color:black;
    font-size: 30px;
    margin: 20px;
}
h3{
    color:black;
    font-size: 25px;
    margin: 10px;
}

ul {
    list-style: none;
    padding: 5px;
    height: 30px;
    display: flex;
    justify-content: end;
    margin: 0%;
    gap: 30px; 
    
}

a{
    text-decoration: none;
    font-size: 20px;
}

a:hover {

    color: white; 
}

ol{
    font-size: 20px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

p{
    margin: 10px; 
    padding: 10px; 
    font-size: 20px;
}

.pdf-container {

    width: 100%;

    height: calc(100% - 150px); 

    overflow: hidden; 

}

footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}

/* Colores de fondo */
.backColor1 { background-color: #6a678b; }
.backColor2 { background-color: #827fa4; }
.backColor3 { background-color: #9a96bd; }
.backColor4 { background-color: #b2aed5; }
.backColor5 { background-color: #cac5ee; }
/* Colores del letras */
.Color1 { color: #6a678b; }
.Color2 { color: #827fa4; }
.Color3 { color: #9a96bd; }
.Color4 { color: #b2aed5; }
.Color5 { color: #cac5ee; }
